
@using WebApplication1.Models
@model IEnumerable<Layer>
@{
    ViewBag.Title = "Refresh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    display map
</h2>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://localhost:8080/geoserver/openlayers3/ol.css" type="text/css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://localhost:8080/geoserver/openlayers3/ol.css" type="text/css">
    <script src="http://localhost:8080/geoserver/openlayers3/ol.js" type="text/javascript"></script>
    <style>
        body {
            font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
            font-size: small;
        }

        #map {
            clear: both;
            position: relative;
            width: 550px;
            height: 550px;
            margin: 30px 5px 15px;
            border: 1px solid black;
        }

  
    </style>


</head>
<body>
    <div id="map"> </div>
    <script>
         var format = 'image/png';
         var untiled = new ol.layer.Image({
             source: new ol.source.ImageWMS({
                 ratio: 1,
                 url: 'http://localhost:8080/geoserver/Aya/wms',
                 params: {
                     'FORMAT': format,
                     'VERSION': '1.1.1',
                     STYLES: '',
                     LAYERS: "",
                 }
             })
         });
         var projection = new ol.proj.Projection({
             code: 'EPSG:404000',
             units: 'm',
             axisOrientation: 'neu',
             global: false
         });

         var map = new ol.Map({
             target: 'map',
             layers: [
                 untiled
             ],
             view: new ol.View({
                 projection: projection
             })
         });
         var bounds = [166728.375, 151253.234375,
             170051.65625, 154540.5625];
       
    </script>



    
        <script type="text/javascript">
            var myArray = [];
            var layeree = [];
            var arr = [];

            @foreach (Layer item in Model)
            {
               
                @:myArray.push("@item.LayerName");
                @:layeree.push(@item.Layer_site);
               
            }

            var arrayLength = myArray.length; 
            for (var t = 0; t < arrayLength; ++t) {
                arr.push({
                    name: myArray[t],
                    id: layeree[t],
                    sortable: true,
                    resizeable: true
                });
            }
          
            for (var i = arrayLength-1; i >=0 ; i--) {
                for (var j = arrayLength - 1 ; j >=0; j--) {
                    
                    if (i == arr[j].id) {
                        var layer = new ol.layer.Image({
                            source: new ol.source.ImageWMS({
                                ratio: 1,
                                url: 'http://localhost:8080/geoserver/Aya/wms',
                                params: {
                                    'FORMAT': format,
                                    'VERSION': '1.1.1',
                                    STYLES: '',
                                    LAYERS: arr[j].name,
                                }
                            })
                        });


                        console.log("map displayed" + arr[j].name + "layer site=" + arr[j].id);
                        map.addLayer(layer);
                        map.getView().fit(bounds, map.getSize());
                        $("#map").append(map);
                    }
                }
            }
        </script>



    
    
</body>
</html>